{% extends "main/base.html" %} 
{% load static%}

{% block title %}Поля{% endblock title %} 
{% block header %}Отправка письма от адреса nnnooo2@yandex.ru{% endblock header %}
{% block content %}
<form action="{% url 'field3' %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.subject.errors }}
        <label for="{{ form.subject.id_for_label }}">Тема:</label>          <!--здесь самостоятельно генерируете <label> поэтому надо использ field.id_for_label -->
        {{ form.subject }}
        {{ form.subject.value }}                <!--получение значения формы -->
    </div>
    <div class="fieldWrapper">
        {{ form.message.errors }}
        <label for="{{ form.message.id_for_label }}">Ваше сообщение:</label>
        {{ form.message }}
    </div>
    <div class="fieldWrapper">
        {{ form.recipient.errors }}
        <label for="{{ form.recipient.id_for_label }}">Получатель:</label>
        {{ form.recipient }}
    </div>
    <div class="fieldWrapper">
        {{ form.cc_myself.errors }}
        {{form.cc_myself.label_tag}}  <!--здесь Метка поля, обёрнутая в соответствующий HTML тег <label> автоматический-->
        {{ form.cc_myself }}
    </div>
    <input type="submit" vаluе="Отправить" >
</form>


{% endblock content %}