{% extends "main/base.html" %} 
{% block title %}цикл и условие{% endblock title %} 
{% block header %}Условный оператор и цикл{% endblock header %} 
{% block content %}

<p>Работа условного оператора if:</p>
{% if data.age > 65 %}
<p>пенсионный возраст {{data.age}}</p>
{% elif data.age >= 18 %}
<p>приемлмый возраст {{data.age}}</p>
{% else %}
<p>несовершеннолетний возраст {{data.age}}</p>
{% endif %}

<p>Работа цикла for:</p>
    {% for i in cat %}
            <li>{{i}}</li>
        {% empty %} 
            <li>Категории продуктов отсутствуют</li>
        {% endfor %}

<p>Объявлены 2 пременные и выведены на экран:</p>
    {% with nаmе="ЧАЙХАНА" nom=1 %} 
        <div> 
        <p>При магазине работает {{ nаmе }}</p> 
        <p>Номер № {{ nom }}</p> 
        </div> 
    {% endwith %} 

{% endblock content %} 
