{% extends "main/base.html" %} 
{% load static%}
{% block title %}Index{% endblock title %} 
{% block header %}Главная страница{% endblock header %} 
{% block content %}
<div class="container">{{header}}</div> 
<p>Имя: {{user.name}} Age: {{user.age}}</p>
<p>Адрес: ул. {{address.0}}, д. {{address.l}}, кв. {{address.2}}</p> 
<p style="font-weight:bold; color: red">Владеет языками: {{langs.0}}, {{langs.1}}</p>  
<!-- Это встроенный стиль -->     
<font style="color: red"> 
<h1>Домашняя страница Django!</h1> 
<font style="color: blue; font-size: 12рх"> 
<h2>templates/firstapp/home.html</h2> 
<img src="{% static 'main/images/image.jpg' %}"> 
{% endblock content %} 